{{#if quantity}}
  {{log quantity}}
  <section class="cart">
    <label for="cart-toggle">{{quantity}} items</label>
    <input type="checkbox" id="cart-toggle">
    <div id="items">
      <ul>
        {{#each items}}
        <li>
          <a class="album-remove" data-id={{id}} href="#"></a>
          Remove {{title}} x {{quantity}}&mdash;
          <small>${{format_price price}}</small>
        </li>
        {{/each}}
      </ul>
      <p class="total">${{format_price total}}</p>
    </div>
  </section>
{{else}}
  <p class="no-items">0 items</p>
{{/if}}
