<div data-id="{{id}}">
  <form id="album-{{type}}" action="/albums/{{id}}" method="{{method}}">
    <fieldset>
      <dl>
        <dt>
          <label>Title</label>
        <dd>
          <input type='text' name='title' value="{{title}}">
        <dt>
          <label>Artist</label>
        <dd>
          <input type='text' name='artist' value="{{artist}}">
        <dt>
          <label>Date</label>
        <dd>
          <input type='date' name='date' value="{{date}}">
        <dt>
          <label>Cover</label>
        <dd>
          <input type='url' name='cover' value="{{cover}}">
        <dt>
          <label>Price</label>
        <dd>
          <input type='text' name='price' value="{{price}}">
        </dd>
      </dl>
    </fieldset>

      <fieldset class="actions">
        <input type="submit" value="{{action}}">
      </fieldset>
</div>
